/* .container{
    background-color: #fdfce6;
    height: 678px;
} */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #fefde9;
  }
  
  .subContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .content {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .heading {
    font-size: 60px;
    color: #2b3d50;
    font-family: "Playfair Display", serif;
  }
  
  .description {
    font-size: 40px;
    line-height: 1.3;
    color: #2b3d50;
    font-family: "CormorantGaramondMedium", sans-serif;
    max-width: 600px;
  }
  
  .imageWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }
  