*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

html{
  scroll-behavior: smooth;
}

/* Fonts */

@font-face {
  font-family: 'Lobster Two';
  src: url('./fonts/Lobster_Two/LobsterTwo-Bold.ttf') format('truetype'),
       url('./fonts/Lobster_Two/LobsterTwo-BoldItalic.ttf') format('truetype'),
       url('./fonts/Lobster_Two/LobsterTwo-Italic.ttf') format('truetype'),
       url('./fonts/Lobster_Two/LobsterTwo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'CormorantGaramondBold';
  src: url('./fonts/Cormorant_Garamond/CormorantGaramond-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: 'CormorantGaramondMedium';
  src: url('./fonts/Cormorant_Garamond/CormorantGaramond-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

